.buttonRow {
  display: flex;
  justify-content: center;
  & > button {
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    width: 140px;
    border: none;
    transition: transform 0.5s;
    &:active {
      transform: scale(0.9);
    }
  }
  height: 35px;
}

.bottomLine {
  position: fixed;
  width: 140px;
  height: 3px;
  top: 35px;
  background-color: #0091ff;
  transform: translate(-50%, 0);
  pointer-events: none;
  border-radius: 10px;
  transition: left 0.2s ease-out;
}